* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #232329;
}

.slideShow {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: auto;
  left: auto;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

/* Arrow buttons  */
button.arrow {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
  background-color: #232329;
}

.backArrow{
  position: absolute;
  left: 2%;
  top: 42%;
}

.forwardArrow{
  position: absolute;
  right: 2%;
  top: 42%;
}

/* page counter */
.counter {
  position: absolute;
  left: 47%;
  top: 2%;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 13px 15px;
}

/* background image */
.inactive {
  display: none;
}

.active {
  display: block;
}


@media (max-width: 1199px) {
  button.arrow {
    font-size: 50px;
  }
  .counter {
    font-size: 15px;
  }
}
  
@media (min-width: 1200px) {
  button.arrow {
    font-size: 80px;
  }
  .counter {
    font-size: 30px;
  }
}